<div class="header">

  
    <div class="global-nav">
      <div class="global-nav-left-part">
        <span class="reoder_icon"><mat-icon>reorder</mat-icon></span>
        <img src="../../../assets/Logo1.png" alt="company logo" width="120px" height="45px" class="company_logo"> 
      </div>


      <div class="search-global">
        <img src="../../../assets/search.png" alt="" width="24px" height="24px">
        <input type="text" placeholder="Search Mail ...">
      </div>


      <div class="global-nav-right-part"> 
        <img src="../../../assets/help.png" class="right_icon" alt="" width="24px" height="24px">
        <img src="../../../assets/settings.png" class="right_icon" alt="" width="24px" height="24px">
  
        <img src="../../../assets/menu.png" type="button" (click)="handleContainerBox()" class="app_menu" alt="" width="10px" height="10px">
  
  
        <img src="../../../assets/user.jpg" alt="User Image">
      </div>
    </div>
</div>
  
  
  
  
  <div *ngIf="showContainerBox" class="container--box">
    <div class="container">
      
      <div class="row">
        <div class="col-4">
            <div class="icon">
              <a href="#"><img src="../../../assets/google-photos.png" alt=""></a>
            </div>
            <div class="description">Photos</div>
        </div>
  
        <div class="col-4">
          <div class="icon">
            <a href="#"><img src="../../../assets/user.png" alt=""></a>
          </div>
          <div class="description">Photos</div>
        </div>
  
        <div class="col-4">
          <div class="icon">
            <a href="#"><img src="../../../assets/drive.png" alt=""></a>
          </div>
          <div class="description">Photos</div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-4">
        
            <div class="icon">
              <a href="#"><img src="../../../assets/google-photos.png" alt=""></a>
            </div>
            <div class="description">Photos</div>
      
        </div>
  
        <div class="col-4">
          <div class="icon">
            <a href="#"><img src="../../../assets/user.png" alt=""></a>
          </div>
          <div class="description">Photos</div>
        </div>
  
        <div class="col-4">
          <div class="icon">
            <a href="#"><img src="../../../assets/drive.png" alt=""></a>
          </div>
          <div class="description">Drive</div>
        </div>
      </div>
  
  
      <div class="row">
        <div class="col-4">
            <div class="icon">
              <a href="#"><img src="../../../assets/google-photos.png" alt=""></a>
            </div>
            <div class="description">Photos</div>
        </div>
  
        <div class="col-4">
          <div class="icon">
            <a href="#"><img src="../../../assets/user.png" alt=""></a>
          </div>
          <div class="description">Photos</div>
        </div>
  
        <div class="col-4">
          <div class="icon">
            <a href="#"><img src="../../../assets/drive.png" alt=""></a>
          </div>
          <div class="description">Photos</div>
        </div>
      </div>
  
  
      <div class="row">
        <div class="col-4">
            <div class="icon">
              <a href="#"><img src="../../../assets/google-photos.png" alt=""></a>
            </div>
            <div class="description">Photos</div>
        </div>
  
        <div class="col-4">
          <div class="icon">
            <a href="#"><img src="../../../assets/user.png" alt=""></a>
          </div>
          <div class="description">Photos</div>
        </div>
  
        <div class="col-4">
          <div class="icon">
            <a href="#"><img src="../../../assets/drive.png" alt=""></a>
          </div>
          <div class="description">Photos</div>
        </div>
      </div>
    </div>
  
    
  </div>

