<div class="container">
  <div class="summary">
    <div class="status">
      <div class="status-title">Total</div>
      <div class="status-counting">25</div>
    </div>
    <div class="status">
      <div class="status-title">Available</div>
      <div class="status-counting">5</div>
    </div>
    <div class="status">
      <div class="status-title">Break</div>
      <div class="status-counting">5</div>
    </div>
    <div class="status">
      <div class="status-title">Meeting</div>
      <div class="status-counting">5</div>
    </div>
    <div class="status">
      <div class="status-title">Leave</div>
      <div class="status-counting">5</div>
    </div>
    <div class="status">
      <div class="status-title">Other</div>
      <div class="status-counting">5</div>
    </div>
  </div>
</div>
