<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Designation</h2>

          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              Role
              <span class="position-absolute top-0 end-0 mt-1">
                <mat-icon style="color: green; font-size: 20px">edit</mat-icon>
                <mat-icon style="color: red; font-size: 20px">delete</mat-icon>
              </span>
            </li>
          </ul>

          <div
            class="position-absolute top-0 end-0"
            style="padding-top: 20px; padding-right: 20px"
          >
            <mat-icon
              class="add"
              matTooltip="Add Role"
              matTooltipPosition="left"
              >add</mat-icon
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Department</h2>

          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              <span class="position-absolute top-0 end-0 mt-1">
                <mat-icon style="color: green; font-size: 20px">edit</mat-icon>
                <mat-icon style="color: red; font-size: 20px">delete</mat-icon>
              </span>
            </li>
          </ul>

          <div
            class="position-absolute top-0 end-0"
            style="padding-top: 20px; padding-right: 20px"
          >
            <mat-icon class="add">add</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Access</h2>

          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              <span class="position-absolute top-0 end-0 mt-1">
                <mat-icon style="color: green; font-size: 20px">edit</mat-icon>
                <mat-icon style="color: red; font-size: 20px">delete</mat-icon>
              </span>
            </li>
          </ul>

          <div
            class="position-absolute top-0 end-0"
            style="padding-top: 20px; padding-right: 20px"
          >
            <mat-icon class="add">add</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Technology</h2>

          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              <span class="position-absolute top-0 end-0 mt-1">
                <mat-icon style="color: green; font-size: 20px">edit</mat-icon>
                <mat-icon style="color: red; font-size: 20px">delete</mat-icon>
              </span>
            </li>
          </ul>

          <div
            class="position-absolute top-0 end-0"
            style="padding-top: 20px; padding-right: 20px"
          >
            <mat-icon class="add">add</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
