<div class="jobdetails">
    <section id="software_engineer">
        <div class="container"  style="margin-top: 50px;">
            <div class="row mt-3">
                <div class="col">
                    <h2>Position : Software Engineer</h2>
                    <h2>Vacancy : 5 to 7 </h2>
                    <h2>Published on: 01 April 2022 </h2>
                    <h2 class="text-danger">Application Deadline: 22 April 2022 </h2>
                    <h2>Job Context : </h2>
                    <p style="padding-left: 15px; text-align: justify;">Shanto-Mariam University of Creative Technology, the first design based private university in the region with a diverse and motivated workforce and an equal opportunity employer is seeking highly qualified, progressive minded, dynamic and experienced full time employee of various levels in the different offices.</p>
                    <h2>Job Responsibilities : </h2>
                    <ul>
                        <li>Design & Coding applications.</li> 
                        <li>Develop, test and analyze programming applications.</li>
                        <li>Analyze and rectify software errors and present precise status reports on time.</li>
                        <li>Build and develop applications using computer languages such as HTML, JAVA, ABAP, Visual Basic and C++.</li>
                        <li>Troubleshooting system errors.</li>
                        <li>Managing database systems.</li>
                        <li>Formulate efficient database retrieval systems.</li>
                        <li>Provide model diagrams and prototypes of programming system.</li>
                        <li>Update, maintain and write new computer software or algorithms.</li>
                        <li>Train end users to operate new or modified programs.</li>
                        <li>Create, manage, and maintain coding databases.</li>
                    </ul>
    
                    <h2>Employment Status : </h2>
                    <p style="padding-left: 15px; text-align: justify;">Full-time</p>
    
    
    
                    <h2>Educational Requirements : </h2>
                        <ul>
                            <li>B.Sc/M.Sc in computer science or related field.</li>
                        </ul>
    
                    <h2>Experience Requirements : </h2>
                        <ul>
                            <li>0 to 2 year(s).</li>
                            <li>C, C++ development experience (Preferable).</li>
                        </ul>
    
    
    
                    <h2>Additional Requirements : </h2>
                        <ul>
                            <li>Interested in embedded development.</li>
                            <li> Good communication for teamwork.</li>
                            <li>Preferable of experience in all types of product development.</li>
                            <li>Preferable of able to follow and act in a team environment.</li>
                        </ul>


                        <h2>Working Hours : </h2>
                        <ul>
                            <li>Monday to Thursday 8:00 – 17:00 (8 hours) / Break time: 1 hour.</li>
                            <li> Friday 8:00 - 17:30 (8 hours) / Break time: 1.5 hour.</li>
                        </ul>
                    
    
                    <h2>Job Location : </h2>
                        <p style="padding-left: 15px; text-align: justify;">Dhaka</p>
                   
    
    
                    <h2>Compensation & Other Benefits : </h2>
                        <ul>
                            <li>Performance bonus. (* Since after one year joining)</li>
                            <li>Festival Bonus(2 times Yearly). (* Since after six month joining)</li>
                            <li>Provident funds.</li>
                            <li>Weekly 2 holidays(Saturday and Sunday).</li>
                            <li>Salary Review: Yearly.</li>
                        </ul>

                        <h2>Salary : </h2>
                        <ul>
                            <li>Probation period(3 months) 20,000Tk.</li>
                            <li>After probation period 25,000Tk. ～</li>
                           
                        </ul>
    
                </div>
            </div>
    
            <div class="row d-flex justify-content-center">
                <div class="col-2">
                    <!-- <button type="button" class="btn btn-info" style="text-align: right; margin-bottom: 20px;"><a routerLink="/website/applyform">Close of Apply</a></button> -->
                    <button type="button" class="btn btn-danger" style="text-align: right; margin-bottom: 20px;"><a routerLink="/website/applyform">Close of Apply</a></button>
                </div>
            </div>
        </div>
    </section>

    <section id="linux_engineer">
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <h2>Position : Linux Engineer</h2>
                    <h2>Vacancy : 2 </h2>
                    <h2>Published on: 01 April 2022 </h2>
                    <h2 class="text-danger">Application Deadline: 22 April 2022 </h2>
                    <h2>Job Context : </h2>
                    <p style="padding-left: 15px; text-align: justify;">Shanto-Mariam University of Creative Technology, the first design based private university in the region with a diverse and motivated workforce and an equal opportunity employer is seeking highly qualified, progressive minded, dynamic and experienced full time employee of various levels in the different offices.</p>
                    <h2>Job Responsibilities : </h2>
                    <ul>
                        <li>Design & Coding applications.</li> 
                        <li>Develop, test and analyze programming applications.</li>
                        <li>Analyze and rectify software errors and present precise status reports on time.</li>
                        <li>Build and develop applications using computer languages such as HTML, JAVA, ABAP, Visual Basic and C++.</li>
                        <li>Troubleshooting system errors.</li>
                        <li>Managing database systems.</li>
                        <li>Formulate efficient database retrieval systems.</li>
                        <li>Provide model diagrams and prototypes of programming system.</li>
                        <li>Update, maintain and write new computer software or algorithms.</li>
                        <li>Train end users to operate new or modified programs.</li>
                        <li>Create, manage, and maintain coding databases.</li>
                    </ul>
    
                    <h2>Employment Status : </h2>
                    <p style="padding-left: 15px; text-align: justify;">Full-time</p>
    
    
    
                    <h2>Educational Requirements : </h2>
                        <ul>
                            <li>B.Sc/M.Sc in computer science or related field.</li>
                        </ul>
    
                    <h2>Experience Requirements : </h2>
                        <ul>
                            <li>0 to 2 year(s).</li>
                            <li>C, C++ development experience (Preferable).</li>
                        </ul>
    
    
    
                    <h2>Additional Requirements : </h2>
                        <ul>
                            <li>Interested in embedded development.</li>
                            <li> Good communication for teamwork.</li>
                            <li>Preferable of experience in all types of product development.</li>
                            <li>Preferable of able to follow and act in a team environment.</li>
                        </ul>


                        <h2>Working Hours : </h2>
                        <ul>
                            <li>Monday to Thursday 8:00 – 17:00 (8 hours) / Break time: 1 hour.</li>
                            <li> Friday 8:00 - 17:30 (8 hours) / Break time: 1.5 hour.</li>
                        </ul>
                    
    
                    <h2>Job Location : </h2>
                        <p style="padding-left: 15px; text-align: justify;">Dhaka</p>
                   
    
    
                    <h2>Compensation & Other Benefits : </h2>
                        <ul>
                            <li>Performance bonus. (* Since after one year joining)</li>
                            <li>Festival Bonus(2 times Yearly). (* Since after six month joining)</li>
                            <li>Provident funds.</li>
                            <li>Weekly 2 holidays(Saturday and Sunday).</li>
                            <li>Salary Review: Yearly.</li>
                        </ul>

                        <h2>Salary : </h2>
                        <ul>
                            <li>Probation period(3 months) 20,000Tk.</li>
                            <li>After probation period 25,000Tk. ～</li>
                           
                        </ul>
    
                </div>
            </div>
    
            <div class="row d-flex justify-content-center">
                <div class="col-2">
                    <!-- <button type="button" class="btn btn-info" style="text-align: right;"><a routerLink="/website/applyform">Close of Apply</a></button> -->
                    <button type="button" class="btn btn-danger" style="text-align: right; margin-bottom: 20px;"><a routerLink="/website/applyform">Close of Apply</a></button>

                </div>
            </div>
        </div>
    </section>

    
   
</div>
