<mat-list-item
    routerLink="employee/dashboard"
    routerLinkActive="router-link-active"
  >
    <mat-icon
      mat-list-icon
      class=""
      matTooltip="Dashboard"
      matTooltipPosition="after"
      >home</mat-icon
    >
    <span *ngIf="show_sidebar">Dashboard</span>
</mat-list-item>

        <mat-list-item
          routerLink="employee/all-employee"
          routerLinkActive="router-link-active"
        >
          <mat-icon
            mat-list-icon
            class=""
            matTooltip="Employees"
            matTooltipPosition="after"
            >people</mat-icon
          >
          <span *ngIf="show_sidebar">Employees</span>
        </mat-list-item>

        <mat-list-item
          routerLink="employee/my-profile"
          routerLinkActive="router-link-active"
        >
          <mat-icon
            mat-list-icon
            class=""
            matTooltip="My Profle"
            matTooltipPosition="after"
            >person</mat-icon
          >
          <span *ngIf="show_sidebar">My Profle</span>




        </mat-list-item>
        <mat-list-item
          routerLink="employee/settings"
          routerLinkActive="router-link-active"
        >
          <mat-icon
            mat-list-icon
            class=""
            matTooltip="My Profle"
            matTooltipPosition="after"
            >star</mat-icon
          >
          <span *ngIf="show_sidebar">Settings</span>
        </mat-list-item>