<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img class="avatar" src="https://picsum.photos/200/300" />
    </div>
    <mat-card-title>Gopal <h6>10:45AM 22/02/22</h6> </mat-card-title>
    <mat-card-subtitle>
      <p>
        There are several ARIA roles that communicate that a portion of the UI
        represents some semantically meaningful whole. Depending on what the
        content of the card means to your application, you can apply one of
        role="group", role="region", or one of the landmark roles to the element.
        You do not need to apply a role when using a card as a purely decorative
        container that does not convey a meaningful grouping of related content
        for a single subject. In these cases, the content of the card should
        follow standard practices for document content.
      </p>
    </mat-card-subtitle>
  </mat-card-header>

  <!-- <mat-card-actions>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end p-1">
      <button mat-icon-button>
        <mat-icon>done_outline</mat-icon>
      </button>
    </div>
  </mat-card-actions> -->
</mat-card>
