<div class="container">
    <!-- <h1 class="header">Casual Leave</h1> -->

    <div class="row">
        

        <div class="col-5 sick_leave_form">
            <h2 style="text-align: center;">Apply for Casual Leave</h2>

            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address <span style="color: red;">(*)</span></label>
                  <input type="email" class="form-control" placeholder="gopal@uxd.co.jp">
                </div>
               

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Application Date <span style="color: red;">(*)</span></label>
                    <input type="date" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name <span style="color: red;">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Gopal Kumar Saha">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Sick Leave Start Date <span style="color: red;">(*)</span></label>
                    <input type="date" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Sick leave End Date <span style="color: red;">(*)</span></label>
                    <input type="date" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Reason (Enter your symptoms in detail) <span style="color: red;">(*)</span></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>               
               
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-6 rules">
            <h2>Common Rules : </h2>

            <ul>
                <li>Don't make false applications.</li>
                <li> Don't apply on behalf of another employees.</li>
            </ul>

            <span style="color: red;"> * If you do not follow the rules, you may be dismissed ! </span>


            <h2 style="margin-top: 20px;">Rules of Sick Leave : </h2>

            <ul>
                <li> Obtain approval from the department manager and 
                    department manager one week before the vacation day. </li>
                <li> Check the schedule with your leader before applying so 
                    as not to interfere with the work schedule. </li>
            </ul>

            <h2 style="margin-top: 20px;">Request of Sick Leave : </h2>

            <ul>
                <li> Apply for sick leave in the following sick leave form. </li>
                <li> You will receive an approval / disapproval E-mail within 3 business days.</li>
                <li>If approved, input in the sharing schedule</li>
            </ul>

            <div style="margin-top: 100px;">
                <span class="alert alert-danger">* Remaining Casual Leave : 12 </span>
            </div>

        </div>
    </div>
</div>