<app-fab-button [check_modal] = "isClicked" (myOutput)="createNoteDialogOpen($event)"></app-fab-button>
<div class="container">
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
</div>
