<div class="container">
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
  <app-note-card> </app-note-card>
</div>
