<div class="contact">
  

  <div class="row">
    <img src="../../../../assets/img-contact.jpg" alt="img-contact.jpg" width="100%" height="500px">
  </div>


  <ngb-accordion [closeOthers]="true" activeIds="static-3">

    <ngb-panel id="static-1">
      <ng-template ngbPanelTitle>
        <h2 style="color: black;">Solution Inquiry <img src="../../../../assets/up-and-down-arrow.png" alt="up-and-down-arrow.png" width="30px" height="30px"> </h2>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row d-flex justify-content-center">
          <div class="col-11">
            <div class="card text-dark bg-light" style="width: 100%">
              <div class="card-header text-center"> <h1> Solution Inquiry</h1> </div>
              <div class="card-body">
                  <form>
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Company/Organization Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Organization Name">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Email Address <span class="text-danger">*</span></label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Phone <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Message <span class="text-danger">*</span></label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
        
            
                      <div class="btn d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-3">Submit Query</button>
                      </div>
                    </form>
              </div>
            </div>
          </div>
          
        </div>
      </ng-template>
    </ngb-panel>


    <ngb-panel id="static-2">
      <ng-template ngbPanelTitle>
        <h2 style="color: black;">Job Inquiry <img src="../../../../assets/up-and-down-arrow.png" alt="up-and-down-arrow.png" width="30px" height="30px"> </h2> 
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row d-flex justify-content-center">
          <div class="col-11">
            <div class="card text-dark bg-light" style="width: 100%">
              <div class="card-header text-center"> <h1> Job Inquiry</h1> </div>
              <div class="card-body">
                  <form>
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Company/Organization Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Organization Name">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Email Address <span class="text-danger">*</span></label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Phone <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Message <span class="text-danger">*</span></label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
        
            
                      <div class="btn d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-3">Submit Query</button>
                      </div>
                    </form>
              </div>
            </div>
          </div>
          
        </div>
      </ng-template>
    </ngb-panel>


    <ngb-panel id="static-3">
      <ng-template ngbPanelTitle>
        <h2 style="color: black;">Other Inquiry</h2> 
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <div class="card text-dark bg-light" style="width: 100%">
              <div class="card-header text-center"> <h1> Other Inquiries</h1> </div>
              <div class="card-body">
                  <form>
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Company/Organization Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Organization Name">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Email Address <span class="text-danger">*</span></label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Phone <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone">
                    </div>
        
                    <div class="form-group mt-3">
                      <label for="exampleInputEmail1" class="mb-2">Message <span class="text-danger">*</span></label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
        
            
                      <button type="submit" class="btn btn-primary mt-3">Submit Query</button>
                    </form>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.6536664813043!2d90.42385001493393!3d23.79534418456729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c753883bec15%3A0xa6a82cdd36624faa!2sWW%20Tower!5e0!3m2!1sen!2sbd!4v1639555684181!5m2!1sen!2sbd" width="100%" height="610" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    
    
  </ngb-accordion>

</div>

<app-footer></app-footer>

