<div class="left_side_bar">
  <a href="/website/home"> <p class="menu">Home</p> </a>

  <a href="/website/about"> <p class="menu">About Us</p> </a>
  <a href="/website/about#who_we_are"> <p class="submenu">Who We Are</p> </a>
  <a href="/website/about#the_president_message">
    <p class="submenu">The President & CEO Message</p>
  </a>
  <a href="/website/about#the_vice_president_message">
    <p class="submenu">The Vice President Message</p>
  </a>
  <a href="/website/about#the_cto_message">
    <p class="submenu">The CTO Message</p>
  </a>
  <a href="/website/about#vission"> <p class="submenu">Our Vision</p> </a>
  <a href="/website/about#mission"> <p class="submenu">Our Mission</p> </a>
  <!-- <a href="/website/about#history"> <p class="submenu">   Our History</p> </a> -->
  <a href="/website/about#milestone"> <p class="submenu">Our Milestone</p> </a>
  <a href="/website/about#environment">
    <p class="submenu">Working Environment</p>
  </a>
  <a href="/website/about#location"> <p class="submenu">Location</p> </a>
  <a href="/website/about#tour"> <p class="submenu">Tour</p> </a>
  <!-- <a href="/website/about#jp_team"> <p class="submenu">  Japan Team</p> </a> -->
  <!-- <a href="/website/about#bd_team"> <p class="submenu">  Bangladesh Team</p> </a> -->
  <a href="/website/about#Product_Quality">
    <p class="submenu">Product Quality</p>
  </a>
  <a href="/website/about#Services"> <p class="submenu">Our Services</p> </a>
  <a href="/website/about#Client"> <p class="submenu">Our Clients</p> </a>

  <!-- <a routerLink="product"> <p class="menu">  Products</p> </a>
    <a href="/website/product#pc_solution"> <p class="submenu">  PC Solutions</p> </a>
    <a href="/website/product#web_solution"> <p class="submenu">  Web Solutions</p> </a>
    <a href="/website/product#android_solution"> <p class="submenu">  Andriod Solutions</p> </a>
    <a href="/website/product#iot_solution"> <p class="submenu">  IOT Solutions</p> </a>
    <a href="/website/product#other_solution"> <p class="submenu">  Other</p> </a> -->

  <a routerLink="news"> <p class="menu">News</p> </a>
  <a href="/website/news#notice"> <p class="submenu">Notice</p> </a>
  <a href="/website/news#exhibition"> <p class="submenu">Exhibition</p> </a>

  <a routerLink="contact"> <p class="menu">Contact With Us</p> </a>

  <a routerLink="career">
    <p class="menu" style="margin-bottom: 80px">Career Opportunities</p>
  </a>
</div>
