<h1 mat-dialog-title>Note 100</h1>
<mat-dialog-content class="mat-typography">
  <p>
    There are several ARIA roles that communicate that a portion of the UI
    represents some semantically meaningful whole. Depending on what the content
    of the card means to your application, you can apply one of role="group",
    role="region", or one of the landmark roles to the element. You do not need
    to apply a role when using a card as a purely decorative container that does
    not convey a meaningful grouping of related content for a single subject. In
    these cases, the content of the card should follow standard practices for
    document content.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
