<mat-list-item routerLink="website-dashboard/home">
    <mat-icon
      mat-list-icon
      class=""
      matTooltip="Home"
      matTooltipPosition="after"
      >home</mat-icon
    >
    <span *ngIf="show_sidebar">Home</span>
  </mat-list-item>

  <mat-list-item
    routerLink="website-dashboard/product"
    routerLinkActive="router-link-active"
  >
    <mat-icon
      mat-list-icon
      class=""
      matTooltip="Product"
      matTooltipPosition="after"
      >important_devices</mat-icon
    >
    <span *ngIf="show_sidebar">Product</span>
  </mat-list-item>

  <mat-list-item
    routerLink="website-dashboard/seminar"
    routerLinkActive="router-link-active"
  >
    <mat-icon
      mat-list-icon
      class=""
      matTooltip="Seminar"
      matTooltipPosition="after"
      >supervisor_account</mat-icon
    >
    <span *ngIf="show_sidebar">Seminar</span>
  </mat-list-item>

  <mat-list-item
    routerLink="website-dashboard/news"
    routerLinkActive="router-link-active"
  >
    <mat-icon
      mat-list-icon
      class=""
      matTooltip="News"
      matTooltipPosition="after"
      >bug_report</mat-icon
    >
    <span *ngIf="show_sidebar">News</span>
  </mat-list-item>

  <mat-list-item
    routerLink="website-dashboard/notice"
    routerLinkActive="router-link-active"
  >
    <mat-icon
      mat-list-icon
      class=""
      matTooltip="Notice"
      matTooltipPosition="after"
      >card_travel</mat-icon
    >
    <span *ngIf="show_sidebar">Notice</span>
  </mat-list-item>

  <mat-list-item
    routerLink="website-dashboard/employee"
    routerLinkActive="router-link-active"
  >
    <mat-icon
      mat-list-icon
      class=""
      matTooltip="Employee"
      matTooltipPosition="after"
      >extension</mat-icon
    >
    <span *ngIf="show_sidebar">Employee</span>
  </mat-list-item>

  <mat-list-item
    routerLink="website-dashboard/jobportal"
    routerLinkActive="router-link-active"
  >
    <mat-icon
      mat-list-icon
      class=""
      matTooltip="Job Portal"
      matTooltipPosition="after"
      >group_work</mat-icon
    >
    <span *ngIf="show_sidebar">Job Portal</span>
  </mat-list-item>