<div class="solution_inquiry">
    <div class="row">
        <div class="col-11">
          <div class="card text-dark bg-light" style="width: 100%">
            <div class="card-header text-center"> <h1> Solution Inquiry</h1> </div>
            <div class="card-body">
                <form>
                  <div class="form-group mt-3">
                    <label for="exampleInputEmail1" class="mb-2">Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                  </div>
      
                  <div class="form-group mt-3">
                    <label for="exampleInputEmail1" class="mb-2">Company/Organization Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Organization Name">
                  </div>
      
                  <div class="form-group mt-3">
                    <label for="exampleInputEmail1" class="mb-2">Email Address <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                  </div>
      
                  <div class="form-group mt-3">
                    <label for="exampleInputEmail1" class="mb-2">Phone <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone">
                  </div>
      
                  <div class="form-group mt-3">
                    <label for="exampleInputEmail1" class="mb-2">Message <span class="text-danger">*</span></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
      
          
                    <button type="submit" class="btn btn-primary mt-3">Submit Query</button>
                  </form>
            </div>
          </div>
        </div>
        
    </div>
</div>


