<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img class="avatar" src="https://picsum.photos/200/300" />
    </div>
    <mat-card-title>Ultra FQA </mat-card-title>
    <mat-card-subtitle><h6>by Shezan 10:45AM 22/02/22</h6></mat-card-subtitle>
    <div class="status">
      <h5>Approved</h5>
    </div>
    <button
    class="more-button"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="openDeleteDialog()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>

  </mat-menu>
  </mat-card-header>

  <mat-card-content>
    <p>
      There are several ARIA roles that communicate that a portion of the UI
      represents some semantically meaningful whole. Depending on what the
      content of the card means to your application, you can apply one of
      role="group", role="region", or one of the landmark roles to the element.
      You do not need to apply a role when using a card as a purely decorative
      container that does not convey a meaningful grouping of related content
      for a single subject. In these cases, the content of the card should
      follow standard practices for document content.
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="check_details;">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end p-1">
      <a href="tools/idea/idea-discussion" class="btn btn-primary">
        See Details
      </a>
    </div>
  </mat-card-actions>

</mat-card>
