<div class="seminar">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <img src="./assets/event_211019-2.png" alt="exhibition_img" width="800px">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minima consequuntur iste alias in, rem esse laudantium hic id vitae harum enim dolor sequi facilis cum blanditiis corrupti eligendi nostrum impedit nisi! Fugit, provident illo asperiores, aspernatur aut laboriosam tenetur blanditiis cum perspiciatis nisi praesentium ipsum eius ad cumque temporibus.</p>
                </div>

                <div class="col">
                    <img src="./assets/event_211019-2.png" alt="exhibition_img" width="800px">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minima consequuntur iste alias in, rem esse laudantium hic id vitae harum enim dolor sequi facilis cum blanditiis corrupti eligendi nostrum impedit nisi! Fugit, provident illo asperiores, aspernatur aut laboriosam tenetur blanditiis cum perspiciatis nisi praesentium ipsum eius ad cumque temporibus.</p>
                </div>

                <div class="col">
                    <img src="./assets/event_211019-2.png" alt="exhibition_img" width="800px">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minima consequuntur iste alias in, rem esse laudantium hic id vitae harum enim dolor sequi facilis cum blanditiis corrupti eligendi nostrum impedit nisi! Fugit, provident illo asperiores, aspernatur aut laboriosam tenetur blanditiis cum perspiciatis nisi praesentium ipsum eius ad cumque temporibus.</p>
                </div>

                <div class="col">
                    <img src="./assets/event_211019-2.png" alt="exhibition_img" width="800px">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minima consequuntur iste alias in, rem esse laudantium hic id vitae harum enim dolor sequi facilis cum blanditiis corrupti eligendi nostrum impedit nisi! Fugit, provident illo asperiores, aspernatur aut laboriosam tenetur blanditiis cum perspiciatis nisi praesentium ipsum eius ad cumque temporibus.</p>
                </div>

                <div class="col">
                    <img src="./assets/event_211019-2.png" alt="exhibition_img" width="800px">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minima consequuntur iste alias in, rem esse laudantium hic id vitae harum enim dolor sequi facilis cum blanditiis corrupti eligendi nostrum impedit nisi! Fugit, provident illo asperiores, aspernatur aut laboriosam tenetur blanditiis cum perspiciatis nisi praesentium ipsum eius ad cumque temporibus.</p>
                </div>

                
               
                
            </div>
        </div>

        <div class="col-3" style="padding-left: 30px;">
            <div class="row border border-4 mb-3">
                <div class="col">
                    <h3>NOTICE</h3>
                    <li class="mb-2"><a href="#">Notice of change in business hours</a> 2021-11-08</li>

                    <li class="mb-2"><a href="#">Notice of publication of "Erase Trail Tracking Management System (ETTMS)</a> 2021-11-08</li>

                    <li class="mb-2"><a href="#">Yokosuka City and ADEC conducted Japan's first demonstration experiment</a> 2021-11-08</li>
                </div>
            </div> 

            <div class="row border border-4 mb-3">
                <div class="col">
                    <h3>NOTICE</h3>
                    <li class="mb-2"><a href="#">Notice of change in business hours</a> 2021-11-08</li>

                    <li class="mb-2"><a href="#">Notice of publication of "Erase Trail Tracking Management System (ETTMS)</a> 2021-11-08</li>

                    <li class="mb-2"><a href="#">Yokosuka City and ADEC conducted Japan's first demonstration experiment</a> 2021-11-08</li>
                </div>
            </div>

            <div class="row border border-4 mb-3">
                <div class="col">
                    <h3>NOTICE</h3>
                    <li class="mb-2"><a href="#">Notice of change in business hours</a> 2021-11-08</li>

                    <li class="mb-2"><a href="#">Notice of publication of "Erase Trail Tracking Management System (ETTMS)</a> 2021-11-08</li>

                    <li class="mb-2"><a href="#">Yokosuka City and ADEC conducted Japan's first demonstration experiment</a> 2021-11-08</li>
                </div>
            </div>
        </div>
    </div>
</div>
