<app-fab-button [check_modal] = "isClicked" (myOutput)="GetChildData($event)"></app-fab-button>
<div class="container-fluid mt-3">

  <!-- Add task modal -->
  <div class="add">
    
    <ng-template #add let-modal>

      <div class="modal-header" style="background-color: rgb(230, 231, 237);">
        <h4  style="padding-left: 40%; font-size: 20px;">Add Task</h4>
      </div>

      
      <div class="modal-body" style="background-color: rgb(211, 214, 228);">

        <form>
          <div class="form-group mb-2">
            <label for="exampleFormControlInput1" class="mb-2">Tast Name *</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Task Name">
          </div>

        </form>

      </div>

      <div class="modal-footer" style="background-color: rgb(226, 229, 239);">

        <button mat-flat-button color="warn" (click)="modal.close('Close click')" style="margin-right: 10px;">Close</button>
        <button mat-flat-button color="primary">Add</button>

      </div>


    </ng-template>
    
  </div>

  <!-- edit task modal -->

  <div class="update">
    
    <ng-template #update let-modal>

      <div class="modal-header" style="background-color: rgb(210, 214, 233);">
        <h4  style="padding-left: 40%; font-size: 20px;">Edit Task</h4>
      </div>

      
      <div class="modal-body" style="background-color: rgb(185, 189, 208);">

        <form>
          <div class="form-group mb-2">
            <label for="exampleFormControlInput1" class="mb-2">Tast Name *</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="Website dashboard UI complete">
          </div>

        </form>

      </div>

      <div class="modal-footer" style="background-color: rgb(186, 189, 203);">

        <button mat-flat-button color="warn" (click)="modal.close('Close click')" style="margin-right: 10px;">Close</button>
        <button mat-flat-button color="primary">Update</button>

      </div>


    </ng-template>
    
  </div>

  <!-- Delete task modal -->

  <div class="delete">
    <ng-template #delete let-modal>

      <div class="modal-header" style="background-color: rgb(240, 235, 228);">
        <h4  style="padding-left: 40%; font-size: 20px;">Alert !</h4>
        <!-- <div type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </div> -->
      </div>

      
      <div class="modal-body" style="background-color: rgb(232, 228, 223);">

        Do you want to delete task ?

      </div>

      <div class="modal-footer" style="background-color: rgb(238, 235, 231);">

        <button mat-flat-button color="warn" (click)="modal.close('Close click')" style="margin-right: 10px;">Close</button>
        <button mat-flat-button color="primary">Delete</button>

      </div>


    </ng-template>
  </div>

   <!-- <h1 class="header">Important Task</h1> -->

  <!-- <div class="add_task">
      <button mat-flat-button color="primary" (click)="openXl(add)" class="rounded-pill">Add Task</button>  
  </div> -->



  <table class="table table-striped">
      
    <tbody>
      <tr>           
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>Website dashboard UI complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
            
        </td>
      </tr>

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle</mat-icon></td>
        <td>Database design complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>All API connect to the UI</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>

      <tr>           
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>Website dashboard UI complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle</mat-icon></td>
        <td>Database design complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr> 

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>All API connect to the UI</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>


      <tr>           
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>Website dashboard UI complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle</mat-icon></td>
        <td>Database design complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>
      
      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>All API connect to the UI</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>

      <tr>           
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>Website dashboard UI complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle</mat-icon></td>
        <td>Database design complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr> 

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>All API connect to the UI</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>All API connect to the UI</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>

      <tr>           
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>Website dashboard UI complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle</mat-icon></td>
        <td>Database design complete</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr> 

      <tr>
        <td><mat-icon style="color: rgb(83, 159, 221);">check_circle_outline</mat-icon></td>
        <td>All API connect to the UI</td>
        <td style="text-align: right;">
          <mat-icon  (click)= "toggleImportant()" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(17, 32, 237);">{{important ? 'star' : 'star_border'}}</mat-icon> &nbsp; &nbsp;
          <mat-icon  (click)="openXl(update)" matTooltip="Edit" matTooltipPosition="below" style="color: rgb(99, 170, 99);">edit</mat-icon> &nbsp; &nbsp;
          <mat-icon (click)="openSm(delete)" matTooltip="Delete" matTooltipPosition="below"  style="color: rgb(226, 93, 93);">delete</mat-icon>  
        </td>
      </tr>


    </tbody>
  </table>
</div>
