<div class="all_product">
    <div class="container">

        <section id=pc_solution>
            <div class="row d-flex justify-content-center">

                <div class="heading col-12">
                    <h1 class="text-center" style="font-weight: 700; padding-top: 50px; padding-bottom: 20px;">PC SOLUTION</h1>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="PC card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/PCSolutions1.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Cristal Display</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="PC card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/PCSolutions2.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>AI Input System</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="PC card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/PCSolutions4.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Smart Touch</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="PC card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/so3.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Boost Motherboard</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="PC card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/product11.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Multi-Tasking System</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="PC card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/product2.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>PC Diagnostics Tool</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </section>
        
        <section id=web_solution>
            <div class="row">
                <div class="heading col-12">
                    <h1 class="high text-center mt-3 mb-5" style="color: rgb(29, 138, 29); font-weight: 700; padding-top: 50px; padding-bottom: 20px;">Web Solution</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="webb card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/w1.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="webb card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/w2.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="webb card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/w3.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="webb card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/w4.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="webb card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/web1.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="webb card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/web2.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </section>
        

        <section id=android_solution>
            <div class="row">
                <div class="heading col-12">
                    <h1 class="high text-center mt-3 mb-5" style="color: rgb(85, 22, 85); font-weight: 700; padding-top: 50px; padding-bottom: 20px;">Android Solutions</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="android card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/Android.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="android card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/img-contact.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="android card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/android2.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Gopal, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="android card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/android3.png" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="android card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/product12.jpeg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="android card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/product13.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </section>

        <section id=iot_solution>
            <div class="row">
                <div class="heading col-12">
                    <h1 class="high text-center mt-3 mb-5" style="color: rgb(22, 26, 85); font-weight: 700; padding-top: 50px; padding-bottom: 20px;">IOT Solutions</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/Android.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/img-contact.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/android2.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Gopal, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/android3.png" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/product12.jpeg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/product13.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
    
            </div>

        </section>



        <section id=other_solution>
            <div class="row">
                <div class="heading col-12">
                    <h1 class="high text-center mt-3 mb-5" style="color: rgb(22, 26, 85); font-weight: 700; padding-top: 50px; padding-bottom: 20px;">Other Solutions</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/Android.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/img-contact.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/android2.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Gopal, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/android3.png" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/product12.jpeg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="iot card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/product13.jpg" alt="product image"
                        style="width: 100%; height: 220px;">
                        <div class="info card-body">
                            <h1>Heading</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                            <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                        </div>
                    </div>
                </div>
    
    
            </div>

        </section>
        
    </div>
</div>

<app-footer></app-footer>