<div class="top"></div>
<div class="box">
    <div class="left">
        <div class="topp">
            <h2>Employee Chatting</h2>
        </div>
        <div class="search">
            <input class="in" type="text" placeholder="Search colleague..">
        </div>



        <ul>
            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../assets/Anas.jpeg" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>active 30 seconds ago..</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>
                </div>
            </li>
            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../assets/Anas.jpeg" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <span>Typing...</span>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</div>

                </div>
            </li>
            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../assets/Anas.jpeg" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>



            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../assets/Anas.jpeg" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>



            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../assets/Anas.jpeg" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>



            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../../src/assets/add.png" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>


            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../../src/assets/add.png" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>
            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../../src/assets/add.png" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>

            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../../src/assets/add.png" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>

            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../../src/assets/add.png" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>

            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../../src/assets/add.png" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>

            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../../src/assets/add.png" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>

            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../../src/assets/add.png" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>

            <li>
                <div class="Employee">
                    <div class="img_name">
                        <img src="../../../../../src/assets/add.png" alt="Employee" class="avatar">
                        <div>
                            <h3>Rifayet Talukdar</h3>
                            <p>Hi, Konnichiwah</p>
                        </div>
                    </div>
                    <div class="time"><p class="p">Today</p></div>

                </div>
            </li>
        </ul>
    </div>
    <div class="right">
        <div class="right_top">
            <div class="Employee-top">
                <div class="img_name">
                    <img src="../../../../assets/Anas.jpeg" alt="Employee" class="avatar">
                    <div>
                        <h3>Anas</h3>
                        <p>active 30 seconds ago..</p>
                    </div>



                </div>

            </div>
            <div class="icon2"><mat-icon> linear_scale</mat-icon></div>
        </div>
        <div class="mid">
            <div class="me">
                おはようございます
            </div>
            <div class="u">
                Sorry, I dont understand Japanese. Please speak in English
            </div>
            <div class="me">
                Ok. Is there any issue?
            </div>
            <div class="u">
                No Issue.
            </div>
            <div class="me">
                Then continue to your work. If any issue, send me in discord or messenger
            </div>
            <div class="u">Ok. </div>
            <div class="me">
                See you tomorrow morning meeting.
            </div>
            <div class="u">See you tomorrow. Bye Bye. </div>
        </div>
        <div class="btm">
            <form>
                <div style="color: white;">+</div>
                <input type="text" name="" placeholder="What's on your mind?" class="in2">
                <div class="ico3"><mat-icon>send</mat-icon></div>
            </form>
        </div>
    </div>
</div>
<style type="text/css"></style>
