<div class="main_scroll">
    <div class="row">
        <div class="col-12">
            <div id="slider">
                <figure>
                    <img src="./assets/homepage/header-main1.png" alt="ULTRA-X Banner" width="600px" height="600px">
                    <img src="./assets/homepage/uxbd_banner.jpg" alt="ULTRA-X Banner"width="600px" height="600px">
                    <img src="./assets/homepage/header-main1.png" alt="ULTRA-X Banner"width="600px" height="600px">
                    <img src="./assets/homepage/uxbd_banner.jpg" alt="ULTRA-X Banner"width="600px" height="600px">
                </figure>
            </div>

            <!-- <img src="../../../../assets/homepage/header-main1.png" alt="ULTRA-X Banner" width="100%" height="450px"> -->
        </div>
    </div>

    <!-- About Section Start -->

    <div class="row about">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center heading">WELCOME TO ULTRA-X BD</h1>
                <p class="paragarab">
                    Ultra-X BD is a leading software company developing PC solutions, Web solutions, Android/ IOS solutions, IoT solutions and technology pioneers. Engineering is our core, innovations our pursuit, and customer service our passion. We promise to provide our
                    customers with the highest quality products available based on research and development not simply theory. We greatly value your trust and confidence and sincerely appreciate your loyalty to our business. Thank you to look after our
                    company.
                </p>
            </div>
        </div>

        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-3 about_part">
                <img src="./assets/11.webp" alt="image">
                <h1 class="pt-3 about_head">10 +</h1>
                <p>Tech Partners</p>
            </div>

            <div class="col-3 about_part">
                <img src="./assets/clock.webp" alt="image">
                <h1 class="pt-3 about_head">5 +</h1>
                <p>Years of Experience</p>
            </div>

            <div class="col-3 about_part">
                <img src="./assets/coronavirus.webp" alt="image">
                <h1 class="pt-3 about_head">3 +</h1>
                <p>Countries Served</p>
            </div>

            <div class="col-3 about_part">
                <img src="./assets/coder-head-1.webp" alt="image">
                <h1 class="pt-3 about_head">100 +</h1>
                <p>IT Professionals</p>
            </div>

            <div class="col-3 about_part">
                <img src="./assets/check-1.webp" alt="image">
                <h1 class="pt-3 about_head">50 +</h1>
                <p>Projects Completed</p>
            </div>
        </div>
    </div>


    <!-- About Section End -->

    <!-- Product Section Start -->

    <!-- <div class="displaying row">
            <div class="col-12">
                <h1 class="text-center heading">Our Products</h1>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="webb card" style="min-height: 250px;">
                    <img class="card-img-top" src="./assets/w1.jpg" alt="product image"
                    style="width: 100%; height: 220px;">
                    <div class="info card-body">
                        <h1>Heading</h1>
                        <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>

                        <p style="text-align: justify;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Obcaecati labore cupiditate iste voluptate inventore 
                            eum illum provident impedit corporis aliquam!  
                        </p>
                        <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="webb card" style="min-height: 250px;">
                    <img class="card-img-top" src="./assets/w2.jpg" alt="product image"
                    style="width: 100%; height: 220px;">
                    <div class="info card-body">
                        <h1>Heading</h1>
                        <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>

                        <p style="text-align: justify;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Obcaecati labore cupiditate iste voluptate inventore 
                            eum illum provident impedit corporis aliquam!  
                        </p>
                        <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="webb card" style="min-height: 250px;">
                    <img class="card-img-top" src="./assets/w3.jpg" alt="product image"
                    style="width: 100%; height: 220px;">
                    <div class="info card-body">
                        <h1>Heading</h1>
                        <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>

                        <p style="text-align: justify;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Obcaecati labore cupiditate iste voluptate inventore 
                            eum illum provident impedit corporis aliquam!  
                        </p>
                        <a routerLink="/website/productdetails" class="btn">Show More Details</a>
                    </div>
                </div>
            </div>

        </div> -->

    <!-- Product Section End -->







    <!-- What We Develop Section Start -->

    <h2 class="text-center heading">What We Develop</h2>

    <div class="row develop_product">
        <div class="row d-flex justify-content-center">

            <div class="col-3 develop_product_padding">
                <img src="./assets/wwd1.webp" alt="product image">
                <h3 class="text-light pt-3">PC Solutions</h3>
            </div>

            <div class="col-3 develop_product_padding">
                <img src="./assets/104.webp" alt="product image">
                <h3 class="text-light pt-3">Web Application</h3>
            </div>

            <div class="col-3 develop_product_padding">
                <img src="./assets/phone_iphone_white_24dp.svg" alt="product image" style="height: 65px; width: 65px;">
                <h3 class="text-light pt-3">Android</h3>
            </div>

            <div class="col-3 develop_product_padding">
                <img src="./assets/sensors_white_24dp.svg" alt="product image" style="height: 65px; width: 80px;">
                <h3 class="text-light pt-3">iOT</h3>
            </div>

            <div class="col-3 develop_product_padding">
                <img src="./assets/support_agent_white_24dp.svg" alt="product image" style="height: 65px; width: 80px;">
                <h3 class="text-light pt-3">Support</h3>
            </div>
        </div>
    </div>
    <div class="row develop_product">
        <div class="row d-flex justify-content-center">

            <div class="col-3 develop_product_padding">
                <img src="./assets/developer_mode_white_24dp.svg" alt="product image" style="height: 65px; width: 65px;">
                <h3 class="text-light pt-3">iOS Development</h3>
            </div>

            <div class="col-3 develop_product_padding">
                <img src="./assets/folder_delete_white_24dp.svg" alt="product image" style="height: 65px; width: 65px;">
                <h3 class="text-light pt-3">Erasing Tool</h3>
            </div>

            <div class="col-3 develop_product_padding">
                <img src="./assets/fact_check_white_24dp.svg" alt="product image" style="height: 65px; width: 65px;">
                <h3 class="text-light pt-3">PC Diagnostic</h3>
            </div>

            <div class="col-3 develop_product_padding">
                <img src="./assets/autorenew_white_24dp.svg" alt="product image" style="height: 65px; width: 80px;">
                <h3 class="text-light pt-3">Data Recycling</h3>
            </div>

            <div class="col-3 develop_product_padding">
                <img src="./assets/analytics_white_24dp.svg" alt="product image" style="height: 65px; width: 80px;">
                <h3 class="text-light pt-3">R & D</h3>
            </div>
        </div>
    </div>

    <!-- What We Develop Section End -->


    <!-- <app-news></app-news> -->

    <!-- Seminar section start -->


    <div class="displaying row">
        <div class="col-12">
            <h1 class="text-center heading">Upcoming Seminar</h1>
        </div>

        <div class="row">

            <div class="col-12 col-md-12 col-lg-12 mb-12">
                <div class="webb card" style="min-height: 250px;">
                    <img class="card-img-top" src="./assets/event_211019-2.png" alt="product image" style="width: 100%; height: 100%;">
                    <div class="info card-body">
                        <h1>CEATEC 2021 ONLINE</h1>
                        <p style="text-align: justify;">"CEATEC 2021 ONLINE" has ended with great success. We would like to express our sincere gratitude for visiting our booth. The booth will be available for viewing until November 30, 2021 (Tuesday) during the archive period. Click
                            the title for details.</p>

                        <p style="text-align: justify;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore cupiditate iste voluptate inventore eum illum provident impedit corporis aliquam!
                        </p>
                        <!-- <a routerLink="/website/productdetails" class="btn">Show More Details</a> -->
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-12 col-lg-12 mb-12">
                <div class="webb card" style="min-height: 250px;">
                    <img class="card-img-top" src="./assets/Seminar3.png" alt="product image" style="width: 100%; ">
                    <div class="info card-body">
                        <h1>Ultra-X Anniversary-FAIR</h1>
                        <p style="text-align: justify;">With a feeling of gratitude to everyone, we will hold the 20th anniversary event "Ultra-Ultra-FAIR". [Date] April 22nd (Thursday) -April 23rd (Friday) 2021 10: 00-19: 00 Please click the title for details</p>

                        <p style="text-align: justify;">
                            We will exhibit at 2020 Japan IT Week (Autumn) @ Makuhari Messe [Web & Digital Marketing EXPO (Autumn)], which will be held from October 28th (Wednesday) to 30th (Friday), 2020.
                        </p>
                        <!-- <a routerLink="/website/productdetails" class="btn">Show More Details</a> -->
                    </div>
                </div>
            </div>

            <!-- <div class="webb card" style="min-height: 250px;">
                        <img class="card-img-top" src="./assets/Seminar3.png" alt="product image"
                        style="width: 100%; ">
                        <div class="info card-body">
                            <h1>Seminar 3</h1>
                            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptas!</p>
    
                            <p style="text-align: justify;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Obcaecati labore cupiditate iste voluptate inventore 
                                eum illum provident impedit corporis aliquam!  
                            </p>
                           
                        </div>
                    </div> -->

        </div>

    </div>

    <!-- Seminar section end -->

    <!-- contact  -->

    <div class="row text-center contact">
        <div class="col-12 col-md-6 col-lg-6 mb-4 mt-3">
            <h1><b> Want to Join Us as a Partner? </b></h1>
            <p class="paragarab p-3">With the help of our partners, we can share our expertise and resources around the world. And thus we are expanding as the home of top IT professionals. So contact us to see how you can join our global family!</p>
            <a href="/website/contact" class="btn btn-info btn-lg"> See Why and How</a>
        </div>

        <div class="col-12 col-md-6 col-lg-6 mb-4 mt-2">
            <img src="./assets/Partner_banner.webp" alt="ULTRA-X Banner" width="100%" />
        </div>
    </div>


</div>

<app-footer></app-footer>