<div class="left_nav">
    <!-- <div class="compose">
        <div class="btn">
            <a href="#"><img src="../../../assets/compose.png" alt="compose">
                <p>Compose</p>
            </a>
        </div>
    </div> -->
    <div class="nav-list">

        <a routerLink="product" > <img src="../../../assets/inbox.png" alt="inbox" width="24px" height="24px"> <span class="header">Product</span>  </a>

        <a routerLink="seminar" > <img src="../../../assets/inbox.png" alt="inbox" width="24px" height="24px"> <span class="header">Seminar</span>  </a>

        <a href="#"><img src="../../../assets/inbox.png" alt="inbox" width="24px" height="24px"> <span class="header">News</span>  </a>

        <a href="#"><img src="../../../assets/inbox.png" alt="inbox" width="24px" height="24px"> <span class="header">Notice</span>  </a>

        <a href="#"><img src="../../../assets/inbox.png" alt="inbox" width="24px" height="24px"> <span class="header">Exhibition</span>  </a>

        <a href="#"><img src="../../../assets/inbox.png" alt="inbox" width="24px" height="24px"> <span class="header">Job Portal</span>  </a>

        <a href="#"><img src="../../../assets/inbox.png" alt="inbox" width="24px" height="24px"> <span class="header">Emoployee</span>  </a>
    </div>

    <!-- <div class="meet">
        <h2>Meet</h2>
        <a href="#"><img src="../../../assets/zoom.png" alt="meet" width="24px" height="24px">New meeting</a>
        <a href="#"><img src="../../../assets/businessmen.png" alt="meet" width="24px" height="24px">Join a meeting</a>
    </div> -->

    <div class="hangouts">
        <h2>Hangouts</h2>
        <div class="user">
            <img src="../../../assets/user.jpg" alt="user" width="35px" height="35px"> Gopal
        </div>  
    </div>
</div>

