<div class="news">
    <section id="notice">
        <h1 class="text-center heading">News</h1>
        

        <div class="row  d-flex justify-content-center">

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="PC card" style="min-height: 250px;">
                    <img class="card-img-top" src="../../../../assets/News1.webp" alt="product image"
                    style="width: 100%; height: 220px;">
                    <div class="info card-body">
                        <h1>Cooperation Agreement</h1>
                        <p style="text-align: justify;">On January 22, 2022, we signed a regional 
                            revitalization consolidation agreement with Kawasho House Co., Ltd. 
                            and Nakawari School District, Nishinoomote City, Kagoshima Prefecture.
                            Details are available on the Nishinoomote City website.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="PC card" style="min-height: 250px;">
                    <img class="card-img-top" src="../../../../assets/news2.webp" alt="product image"
                    style="width: 100%; height: 220px;">
                    <div class="info card-body">
                        <h1>Ultra-Ultra-FAIR</h1>
                        <p style="text-align: justify;">At the Ultra X event "Ultra-Ultra-FAIR", 
                            we will introduce our existing solutions, announce our efforts for new businesses, 
                            and set up a "fun corner" to express our gratitude to our contract users and everyone. 
                            It will be an event that we have been allowed to do. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="PC card" style="min-height: 250px;">
                    <img class="card-img-top" src="../../../../assets/news3.webp" alt="product image"
                    style="width: 100%; height: 220px;">
                    <div class="info card-body">
                        <h1>New Office Opening</h1>
                        <p style="text-align: justify;">An event will be held at the 
                            Ultra X Tanegashima Office on January 22, 4th year of Reiwa. 
                            At the event, we will conclude a business location agreement 
                            with Nishinoomote City for regional revitalization in Tanegashima.
                             with Kawasho House Co., Ltd.</p>
                        <!-- <a routerLink="/website/productdetails" class="btn">Show More Details</a> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <span class="text-center"> <a href="#" class="btn btn-info mb-3">Show More</a> </span>
        </div> -->
    </section>


    <!-- Exhibition Updated with new requirements -- Arif -->
    <section id="exhibition">
        
            <div class="row seminar">
                
                <div class="col-12 col-md-8 col-lg-8 mb-4">

                    <h1 class="text-center heading">Exhibition</h1>


                    <div class="row border border-4 mb-3">
                        <div class="col">
                            <img src="./assets/event_211019-2.png" alt="exhibition_img" width="100%">
                            <h2 class="pt-2">CEATEC 2021 ONLINE</h2>
                            <p>We will exhibit for the first time at the online 
                                exhibition [CEATEC 2021 ONLINE], which will be 
                                held from October 19th (Tuesday) to 22nd (Friday), 2021.
                                Click the title for details.</p>
                        </div>

                    </div>



                    <div class="row border border-4 mb-3">
                        <div class="col">
                            <img src="./assets/seminar100.png" alt="exhibition_img" width="100%">
                            <h2 class="pt-2">Ultra X Latest Technology Information</h2>
                            <p>"Ultra X Latest Technical Information Seminar 2021 Summer" was completed 
                                with great success.
                                We would like to thank many companies for visiting us this time as well.</p>
                        </div>

                    </div>


                    <div class="row border border-4 mb-3">
                        <div class="col">
                            <img src="./assets/Seminar3.png" alt="exhibition_img" width="100%">
                            <h2 class="pt-2">Ultra-X Anniversary FAIR</h2>
                            <p>"Ultra X Latest Technical Information Seminar 2021 Summer" will be held for one week from Monday, 
                                July 5, 2021.[Date and time] July 5th (Monday) to July 9th (Friday), 2021
                                (The schedule will be expanded and the event will be held at intervals 
                                between visitors.)
                                Please click the title for details.</p>
                        </div>

                    </div>
                    
                    <div class="row border border-4 mb-3">
                        <div class="col">
                            <img src="./assets/seminar101.png" alt="exhibition_img" width="100%">
                            <h2 class="pt-2">3rd AI / Business Automation Exhibition</h2>
                            <p>"Notice of postponement of "2020 Japan IT Week Spring"
                                Japan IT Week [Spring] "3rd AI / Business Automation Exhibition 
                                (Spring)" held from April 8th to 10th, 2020 
                                Will be postponed due to the influence of the new coronavirus.</p>
                        </div>

                    </div>
                    

                    <div class="row border border-4 mb-3">
                        <div class="col">
                            <img src="./assets/seminar102.png" alt="exhibition_img" width="100%">
                            <h2 class="pt-2">Announcement of Tanegashima New Office Opening Event</h2>
                            <p>An event will be held at the Ultra X Tanegashima Office on January 22, 
                                4th year of Reiwa. At the event, we will conclude a business location 
                                agreement with Nishinoomote City for regional revitalization in Tanegashima. 
                                In addition, we will conclude a comprehensive regional revitalization 
                                cooperation agreement with Kawasho House Co., Ltd. and Nakawari School District. 
                                The event will be streamed live on YouTube. There are also events that you can enjoy, 
                                such as an illusion show by a professional magician. 
                                If you have time, please take a look. Click the title for details.</p>
                        </div>

                    </div>
                    
                </div>

                <!-- Notice Updated with new requirements -- Arif -->
        
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <h1 class="text-center heading">Notice</h1>

                    <div class="row border border-4 mb-3 notice">
                       
                            <!-- <h3 class="text-center" -- Arif -->
                        <ul style="margin-left: 10px;">
                            <li class="mb-3"><a href="https://www.uxd.co.jp/event/exhibition017/">Ultra-Ultra-FAIR</a> <br>[Date] April 13, 2022 (Wednesday) -April 15, 2022 (Friday)</li>

                            <li class="mb-3"><a href="https://www.uxd.co.jp/event/exhibition016/">19th Information Security EXPO [Spring]</a><br> April 6th, 2022</li>

                            <li class="mb-3"><a href="https://www.uxd.co.jp/information/20220126/">Announcement of Tanegashima New Office Opening Event</a><br> Saturday, January 22, 2022</li>
        
                            <li class="mb-3"><a href="https://www.uxd.co.jp/event/exhibition016/">Ultra X Latest Technical Information Seminar 2022 Spring</a><br> April 6th, 2022</li>
        
                            <li class="mb-3"><a href="https://www.uxd.co.jp/event/exhibition016/">IT seminer on project exhibition in Japan</a><br> April 6th, 2022</li>

                            <li class="mb-3"><a href="https://www.uxd.co.jp/information/20220216/">Notice of conclusion of regional revitalization comprehensive cooperation agreement</a><br> Dated: January 22, 2022</li>
                            
                            
                            

                            

                        </ul>
                    </div>
                    
                </div>
            </div>
        

       
    </section>
    

</div>


<app-footer></app-footer>
