.mat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
}
.mat-card:hover {
  background-color: rgb(239, 241, 243);
}
.mat-card-content input {
  width: 75rem;
  height: 3rem;
  max-height: 3rem;
  border-radius: 40px;
  border: 1px solid gray;
  padding: 1rem;
}
/* .mat-card-content input::placeholder {
  padding: 1rem;
} */
/* .mat-card-actions {
  max-width: 2rem;
} */
