<div class="row text-center custom">
    <div class="row">
      <!-- <div class="col-12 col-md-6 col-lg-3 mb-4 mt-3">
        <h2>Our Products & Services</h2>
        <p><a href="/website/home">Home</a></p>
        <p><a href="/website/about">About Us</a></p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mt-3">
        <h2>Connect with us</h2>
        <p><a href="/website/contact">Contact us</a></p>
        <p><a href="/website/career">Jobs</a></p>
        <p><a href="/website/news">News</a></p>
        
        <mat-icon> email</mat-icon> <span> info_uxbd@uxd.co.jp</span> <br />
        <p class="mt-2"></p>
        <a href="https://www.facebook.com/UltraX.Japan">
          <mat-icon> facebook</mat-icon>
        </a>
        <a href="#"><mat-icon>video_library</mat-icon></a>
      </div> -->
      <div class="col-2"></div>
      <div class="col-8 mb-4 mt-3">
        <h2>ULTRA-X BD LIMITED.</h2>
        <p>
          We are dedicated to helping your business grow by increasing exposure to
          consumers with premium virtual solutions.
        </p>
        <P
          >Our products are designed for companies willing to optimize their
          performance.</P
        >
        <p style="color: red">The Website is Under-construction</p>
      </div>
      <div class="col-2"></div>
    </div>
  
    <!-- <div class="row"> -->
    <div class="col" style="width: 100%; background: rgb(56, 46, 75)">
      <p class="text-center font-weight-bold text-light">
        © 2022 Copyright ULTRA-X BD LIMITED
      </p>
    </div>
    <!-- </div> -->
  </div>
  